@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: Mukta, sans-serif;
}


#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

form {
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#name,
#age {
    padding: 5px;
}

#submit {
    margin-top: 10px;
    padding: 5px;
    background-color: #0f0feb;
    color: aliceblue;
    border: 0px;
}

#submit:hover {
    margin-top: 10px;
    padding: 5px;
    background-color: blue;
    color: aliceblue;
    border: 0px;
}

table {
    width: 100%;
}

thead {
    background-color: aqua;
    padding: 5px;
    font-weight: bold;
    border: 1px solid;
}

tbody {
    padding: 5px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}